@import "tailwindcss";

/*  Colores personalizados */
@theme {
  --color-rosa-principal: #ff1493;
  --color-rosa-claro: #ff80ab;
  --color-rosa-oscuro: #c71585;
}

/* Estilos personalizados */
.bounce-animation {
  animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* animación para el gradiente del header */
@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 6s ease infinite;
}
